*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    //universal font size 1 rem = 10 px 
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    
    background-image: linear-gradient(120deg,$gradient-color-1,$gradient-color-2);
    min-height: 100vh;
    
}